.nfs*
._*
*.DS_Store
.snakemake/*
data/*
output/*
plot/*
benchmarks/*
logs/*
.git/*
*.sh.*
*tiff*.log
*.Rproj.user
*.RData
*.Rhistory
*.Rproj
slurm-*.out
slurm*
.config/*
.local/*
.Rproj.user
*.fuse*
*.ipynb
logs.log
*.bashrc
*.cache
output*
*.gitignore